body {

background: url(../images/classic-background.jpg);
overflow: hidden;


}


#game-title {

    border: solid 10px;
    border-color: black;
    margin: auto;
    margin-top: 425px;
    background: gray;
    opacity: .7;
    padding: auto;
    text-align: center;
    height: 200px;
    border-radius: 10px;
    text-shadow: 2px;
    background-image: url(../images/laster-supper-background.jpg);
}





#answer-box {

    border: solid 10px;
    border-color: black;
    margin: auto;
    background: gray;
    opacity: .7;
    padding: auto;
    text-align: center;
    height: 550px;
    border-radius: 10px;
    text-shadow: 2px;
    background-image: url(../images/cast-background.jpg);
    display: none;
    
    
    
    }

    button {
        background:#737373;
        opacity: .9px;
        filter: alpha(opacity=90);
        border-radius: 10px;
        text-shadow: 2px;
        margin: auto;
        margin-top: 40px;
        color: solid black;
        width: 400px;
        
        }


    h1 {
        background:#737373;
        opacity: .9px;
        /* filter: alpha(opacity=90); */
        border-radius: 10px;
        text-shadow: 2px;
        margin: 50px;
        margin-top: 65px;
        text-emphasis: white;
        

    }


    #title-button {
        margin:auto;
        margin-top: 60px;
      
    }

    #timer {
        color: white;
        background: black;
        text-align: center;
        height: 50px;
        border:50px;
        border-color: solid gray;
        border-radius: 5px;
        margin-top: 25px;
        
        
    }

    .questions {

        color:white;
        background: gray;
        margin-left: 500px;
        margin-top: 20px;
    }
    

    #question-box {

        width: 300px;
    }
 